button.corel-btn {
    background-color: #efefef;
    color: #000;
    font-size: 1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    border-radius: 0.25rem;
    border: none;
    box-shadow: none;
    padding: 0.5rem 1rem;
    display: inline-block;

    &[size=xlarge] {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &[size=large] {
        font-size: 1.25rem;
        font-weight: 300;
    }

    &[size=small] {
        font-size: 0.75rem;
        font-weight: 600;
    }

    &[type=primary] {
        background-color: #255bb2;
        color: #fff;
    }

    &[type=secondary] {
        background-color: #e500b7;
        color: #fff;
    }

    &[type=green] {
        background-color: #07ba31;
        color: #fff;
    }
}