button.corel-btn {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    border-radius: 0.25rem;
    border: solid 1px #efefef;
    box-shadow: 0 2px 2px #ccc;;
    padding: 0.5rem 1rem;
    display: inline-block;
    
    &[size=xlarge] {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &[size=large] {
        font-size: 1.25rem;
        font-weight: 300;
    }

    &[size=small] {
        font-size: 0.75rem;
        font-weight: 600;
    }

    &[type=primary] {
        background-color: #255bb2;
        color: #fff;
        border: none;
    }

    &[type=secondary] {
        background-color: #e500b7;
        color: #fff;
        border: none;
    }

    &[type=green] {
        background-color: #07ba31;
        color: #fff;
        border: none;
    }

    &[type=link] {
        background-color: transparent;
        color: #255bb2;
        box-shadow: none;
        border: none;
    }

    &[icon-align=right] {
        corel-icon {
            margin-left: 0.5rem;
            margin-right: 0;
        }
    }

    corel-icon {
        margin-left: 0;
        margin-right: 0.5rem;
    }
}